/*  Reset everything */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6ef;
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  padding: 16px;
}

/* Underline when you hove over link */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.app {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: normal;

}


.companies {
  display: grid;
  row-gap: 16px;
}

.company {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 16px;
  display: grid;
  row-gap: 8px;
}

.root {
  padding: 24px;
}

.searchBox {
  /* margin-bottom: 25px; */
  /* padding: 20px; */
  background: #fdfdf8;
  border: 1px solid #c6c6c6;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
  overflow: hidden;
  display: block;

  width: 100%;
  /* font-size: 16px; */
  line-height: normal;
  border-radius: 4px
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  line-height: normal;
  border-radius: 4px
}

.search {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 16px;
  display: grid;
  row-gap: 8px;
}

.company-name {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-right: 10px;
  font-size: 18px;
}

.company-location {
  font-size: 12px;
  margin-right: 10px;
}

.company {
  max-width: 100%;
  height: auto;
  margin-left: 70px;
  vertical-align: middle;
  display: flex;
  align-items: flex-start;

}

.company-child {
  flex: 1;

}

.company-child:first-child {
  align-self: flex-start;
  width: 20%;
}

.company-image {
  width: 75px;
  height: 75px;
  margin-right: 5px;
  border-radius: 50%;
  overflow: hidden;
  border-radius: 50%;
  max-width: 100%;
}


.post__title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

.post__metadata {
  font-size: 14px;
  color: #444;
}


.loading {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 18px;
}


.next-button {
  background-color: #ff6600;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  padding: 8px 12px;
}

.next-button:not(:disabled) {
  cursor: pointer;
}

.next-button:hover {
  background-color: #e65c00;
}



.previous-button {
  background-color: #ff6600;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  padding: 8px 12px;
}

.previous-button:not(:disabled) {
  cursor: pointer;
}

.previous-button:hover {
  background-color: #e65c00;
}

.previous-button:disabled,
.previous-button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.next-button:disabled,
.next-button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.page-info {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 18px;
  /* background-color: #fff; */
  /* border: 1px solid #dcdcdc; */
  /* border-radius: 4px; */
  /* padding: 16px; */
  display: grid;
  /* row-gap: 8px; */
}