 .app {
   padding: 0 13px;
 }

 .title {
   font-size: 24px;
   font-weight: normal;
   margin-bottom: 24px;
 }

 body {
   background-color: #f6f6ef;
   color: #000;
   font-family: sans-serif;
   font-size: 16px;
   padding: 16px;
 }

 .search-box {
   background: #fdfdf8;
   border: 1px solid #c6c6c6;
   padding: 20px;
   vertical-align: middle;
   text-align: center;
   height: 41px;
   margin: 15px auto;
   border-radius: 4px;
 }

 input[type="text"] {
   min-width: 0;
   border: 1px solid #ccc;
   padding: 10px;
   width: 100%;
   height: 41px;
   border-radius: 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
 }

 .message {
   font-size: 14px;
   color: #4e4e4e;
   text-align: left;
   margin-bottom: 8px;
 }


 .companies {
   border-radius: 8px;
   background: #fdfdf8;
   border: 1px solid #c6c6c6;
   overflow: hidden;
   box-sizing: border-box;
   display: grid;
   row-gap: 0px;
 }

 .company {
   color: #000;
   background-color: #fdfdf8;
   padding: 20px;
   border-bottom: 1px solid #ccc;
   line-height: 1.6;
   font-size: 18px;
   display: flex;
   align-items: center;
   position: relative;
 }


 .company-name {
   font-family: Avenir, Helvetica, Arial, sans-serif;
   font-weight: 700;
   margin-right: 10px;
   font-size: 18px;
 }

 .company-location {
   font-size: 12px;
   margin-right: 10px;
 }

 .company-image {
   width: 75px;
   height: 75px;
   margin-right: 20px;
   border-radius: 50%;
   overflow: hidden;
   border-radius: 50%;
   max-width: 100%;
 }

 .company a {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   display: inline;
 }


 .company:hover {
   text-decoration: none;
   color: #000;
   background-color: #fff;
   transition: none;
 }



 button {
   background-color: #ff6600;
   border: none;
   border-radius: 4px;
   color: #fff;
   margin-top: 20px;
   padding: 8px 12px;
 }

 button:not(:disabled) {
   cursor: pointer;
 }

 button:hover {
   background-color: #e65c00;
 }



 /*

 .company {
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   border-top: 1px solid #c6c6c6;
   background-color: #fff;
   border: 1px solid #dcdcdc;
   border-radius: 4px;
   padding: 16px;
   display: grid;
   color: #000;
   background-color: #fdfdf8;
   padding: 20px;
   border-bottom: 1px solid #ccc;
   line-height: 1.6;
   font-size: 18px;
   display: flex;
   align-items: center;
   position: relative;
   row-gap: 8px;
 }

 /* 



 .company {
   max-width: 100%;
   height: auto;
   margin-left: 70px;
   vertical-align: middle;
   display: flex;
   align-items: flex-start;

 }

 .company-child {
   flex: 1;

 }

 .company-child:first-child {
   align-self: flex-start;
   width: 20%;
 }

 todo handle no message */