 .app {
   padding: 0 13px;
 }

 .title {
   font-size: 24px;
   font-weight: normal;
   margin-bottom: 24px;
 }

 body {
   background-color: #f6f6ef;
   color: #000;
   font-family: sans-serif;
   font-size: 16px;
   padding: 16px;
 }

 .search-box {
   background: #fdfdf8;
   border: 1px solid #c6c6c6;
   padding: 20px;
   vertical-align: middle;
   text-align: center;
   height: 41px;
   margin: 15px auto;
   border-radius: 4px;
 }

 input[type="text"] {
   min-width: 0;
   border: 1px solid #ccc;
   padding: 10px;
   width: 100%;
   height: 41px;
   border-radius: 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
 }