/* Search bar styling */
.search {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 16px;
    display: grid;
    row-gap: 8px;
}

.search-box {
    /*  */
    background: #fdfdf8;
    border: 1px solid #c6c6c6;
    padding: 20px;
    height: 60px;
    margin: 15px auto;
    position: relative;
    display: table;

    /* display: flex;
    align-items: center; */
    /* Makes the nav items and logo appear vertically centered with the search box*/
    /* margin: 1.5rem; */
    /* padding: .4rem; */
    /* <-- THE SECRET SAUCE! */
    /* margin-bottom: 25px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    line-height: normal;
    border-radius: 4px;
    display: flex; */
    /* align-items: center; */
    /* Makes the nav items and logo appear vertically centered with the search box*/
    /* margin: 1.5rem; */
}

input[type="text"] {
    min-width: 0;
    border: 1px solid #ccc;
    padding: 10px;
    resize: horizontal;
    width: 95%;
    flex-grow: 1;

    font-size: 16px;
    line-height: normal;
    min-width: 300px;
    border-radius: 4px
}


/* 
  /* Underline when you hove over link */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.app {
    max-width: 100%;
    margin: 40px;
}




.root {
    padding: 24px;
}


.post__title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

.post__metadata {
    font-size: 14px;
    color: #444;
}


.loading {
    color: #4d4d4d;
    font-weight: bold;
    font-size: 18px;
}


.next-button {
    background-color: #ff6600;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px;
    padding: 8px 12px;
}

.next-button:not(:disabled) {
    cursor: pointer;
}

.next-button:hover {
    background-color: #e65c00;
}



.previous-button {
    background-color: #ff6600;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px;
    padding: 8px 12px;
}

.previous-button:not(:disabled) {
    cursor: pointer;
}

.previous-button:hover {
    background-color: #e65c00;
}

.previous-button:disabled,
.previous-button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.next-button:disabled,
.next-button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.page-info {
    color: #4d4d4d;
    font-weight: bold;
    font-size: 18px;
    /* background-color: #fff; */
    /* border: 1px solid #dcdcdc; */
    /* border-radius: 4px; */
    /* padding: 16px; */
    display: grid;
    /* row-gap: 8px; */
}